{% load static %}
<head>
    <title>일기는 일기장에</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:image" content="http://saaks.byus.net/board/data/misc/og.jpg" />
    <meta property="og:description" content="언젠가는 닿을까" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
</head>
<body>
공사중임 후훟후후
<!-- 본문 시작 -->
    <div class="page-header">
        <h1><b><a href="{% url 'post_list' %}">일기는 일기장에</a></b></h1>
        <div class="lnb">
        <a href="{% url 'post_list' %}">The Diary</a>
        <a href="{% url 'img_list' %}">The Work</a>
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
        <div>
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}"><b>Post New</b></a>
            {% endif %}
        </div>
    </div>
<!-- 본문  -->
</body>
</html>